


*       {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h2, h1 {
  color: rgb(63, 64, 64);
}

.topSpace {         /* Style applied to message at end of game, appears at top */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    background-color: aquamarine;
    animation-name: blinkingBack; /* This will be animation for background */
    animation-duration: 1s;
    animation-iteration-count: 100;
    margin: 50px;
    padding: 30px;
}
@keyframes blinkingBack {
    50% {
      background-color: #ffcd5f;
    }
  } 


body    {
    background-color: rgb(175, 121, 225);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.message, .gameButtons, .newGame, .pressToReset, .lastPlay, .scoreboard {
    display: flex;
    justify-content: center;
}

.scoreboard {
    border: 10px dotted #6af6e1;
    animation-name: blinking; /* This will be animation for border */
    animation-duration: 0.3s;
    animation-iteration-count: 100;
    margin-top: 50px;
    width: 400px;
    height: 80px;
    align-self: center;
    align-items: center;
} 

@keyframes blinking {
    50% {
      border-color: #ffcd5f;
    }
  } 

@media all and (max-width: 500px) {
  .scoreboard {
    flex-direction: column;
    width: 200px;
    height: 120px;
    box-sizing: content-box;
  }
  h1, h2 {
    font-size: 20px;
  }
  .topSpace {
    margin: 25px;
  }
  #selection, .newGame {
    /* background-color: lightblue; */
    font-size: 20px;
  }

}

h2      {
    padding-left: 20px;
    padding-right: 20px;
}

.gameButtons {
    justify-content: space-evenly;
}

.newGame {
    display: none;
}

.gameButtons, .newGame {
    margin-top: 30px;
}

 #selection, .newGame    { /* This style is applied to all buttons */
    padding: 10px;
    font-size: 40px;
    background-color: cornsilk;
    border-radius: 5%;
} 

@media all and (max-width: 500px) {
  .scoreboard {
    flex-direction: column;
    width: 200px;
    height: 120px;
    box-sizing: content-box;
  }
  h1, h2 {
    font-size: 20px;
  }
  .topSpace {
    margin: 25px;
  }
  #selection, .newGame {
    /* background-color: lightblue; */
    font-size: 20px;
  }

}