
.topSpace {
    height: 150px;
}

.message, .gameButtons, .newGame, .pressToReset, .lastPlay, .end, .scoreboard {
    display: flex;
    justify-content: center;
}

.scoreboard {
    margin-top: 50px;
} 

h2      {
    padding-left: 20px;
    padding-right: 20px;
}

.gameButtons {
    justify-content: space-evenly;
}

.newGame {
    display: none;
}